<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:article="http://ogp.me/ns/article#" xmlns:book="http://ogp.me/ns/book#" xmlns:product="http://ogp.me/ns/product#"
xmlns:profile="http://ogp.me/ns/profile#" xmlns:video="http://ogp.me/ns/video#" prefix="content: http://purl.org/rss/1.0/modules/content/
dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema#
schema: http://schema.org/ sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core#
xsd: http://www.w3.org/2001/XMLSchema# " style="" class=" supports no-touchevents cssanimations backgroundcliptext cssfilters
csstransforms csstransforms3d csstransitions cors">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{metaTags.title}}</title>
    <meta name="description" content="{{metaTags.description}}">
    <meta name="keywords" content="{{metaTags.keywords}}">
    <meta name="author" content="{{metaTags.author}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Compiled and minified CSS -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/fevicon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    {{!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous"> --}}
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="shortlink" href="https://www.new-storybook.herokuapp.com/">
        <link rel="canonical" href="https://www.new-storybook.herokuapp.com/" />
        <link rel="hreflang" hreflang="en-SG" href="https://www.new-storybook.herokuapp.com/sg/">
        <link rel="hreflang" hreflang="en-IN" href="https://www.new-storybook.herokuapp.com/in/">
        <link rel="hreflang" hreflang="en-GB" href="https://www.new-storybook.herokuapp.com/uk/">
        <link rel="hreflang" hreflang="en-AU" href="https://www.new-storybook.herokuapp.com/au/">
        <link rel="hreflang" hreflang="en-AE" href="https://www.new-storybook.herokuapp.com/ae/">
        <link rel="hreflang" hreflang="de" href="https://www.new-storybook.herokuapp.com">
        <link rel="alternate" hreflang="en" href="https://www.new-storybook.herokuapp.com/en">
        <link rel="mask-icon" href="/themes/custom/themekit/images/favicon/safari-pinned-tab.svg" color="#0098e3">
        <meta name="msapplication-TileColor" content="#2b5797">
        <link rel="manifest" type="manifest+json" href="manifest.json">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="16x16 32x32 48x48" href="/img/fevicon.ico">
        <link rel="icon" sizes="512x512" href="/img/book-512X512.png">
        <meta name="theme-color" content="#0098e3">
        <meta name="msapplication-config" content="browserconfig.xml">
{{!-- SEO AREA START --}}
<script>
    console.log("%c Stop! %cThis is a browser feature intended for developers.If someone told you to copy and paste something here to enable a Storybook feature or 'hack' someone's account, it is a scam and will give them access to your StoryBook account. %cSee https://new-storybook.herokuapp.com/security for more information. ", "font-weight:bold;font-size:50px;color:red;text-shadow:1px 1px 0px black, 1px -1px 0px black,-1px 1px 0px black,-1px -1px 0px black;", "font-weight:500;font-size:20px;color:#404040;", "font-weight:500;font-size:22px;color:grey;")
</script>
{{!-- HTTP TO HTTPS REDIRECT --}}
<script>if (document.location.protocol != "https:") { document.location = document.URL.replace(/^http:/i, "https:"); }</script>
<script type='text/javascript'>/* <![CDATA[ */ var monsterinsights_frontend = { "js_events_tracking": "true", "is_debug_mode": "false", "download_extensions": "doc,exe,js,pdf,ppt,tgz,zip,xls", "inbound_paths": "\/recommended\/", "home_url": "https:\/\/www.new-storybook.herokuapp.com", "track_download_as": "event", "internal_label": "aff", "hash_tracking": "false" }; /* ]]> */</script>

<script type='text/javascript'>/* <![CDATA[ */ var advanced_ads_responsive = { "reload_on_resize": "0" }; /* ]]> */</script>
<script type='text/javascript'>/* <![CDATA[ */ var advanced_ads_pro_visitor_conditions = { "referrer_cookie_name": "advanced_ads_pro_visitor_referrer", "referrer_exdays": "365", "page_impr_cookie_name": "advanced_ads_page_impressions", "page_impr_exdays": "3650" }; /* ]]> */</script>
<link rel='https://api.w.org/' href='https://www.new-storybook.herokuapp.com/' />
<meta name="generator" content="{{metaTags.generator}}" />
<link rel='shortlink' href='https://www.new-storybook.herokuapp.com/' />
<meta name="generator" content="{{metaTags.generator}}" />

{{!-- FACEBOOK PAGE HERE --}}
{{!-- <meta property="fb:pages" content="94019601674" /> --}}
<script>window._peq = window._peq || []; window._peq.push(['init']);</script>
{{!-- <script data-cfasync="false" type="text/javascript">/* <![CDATA[ */ //<![CDATA[
    var gtm4wp_scrollerscript_debugmode = false;
    var gtm4wp_scrollerscript_callbacktime = 100;
    var gtm4wp_scrollerscript_readerlocation = 150;
    var gtm4wp_scrollerscript_contentelementid = "content";
    var gtm4wp_scrollerscript_scannertime = 60;
    jQuery(function () {
        gtm4wp_track_downloads("pdf,doc,docx,xls,xlsx,ppt,pptx,zip,rar,gz,tar");
    });
    dataLayer.push({ "pagePostType": "frontpage", "pagePostType2": "single-page", "pagePostAuthor": "Saurabh Kashyap", "browserName": "Chrome", "browserVersion": "67.0.3396.99", "browserEngineName": "Blink", "browserEngineVersion": "", "osName": "Windows", "osVersion": "6.1", "deviceType": "desktop", "deviceManufacturer": "", "deviceModel": "" });//]]> /* ]]> */</script>
 --}}
 <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
            new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N3R4GMN');</script>
<script type="text/javascript">; var advadsCfpQueue = [], advadsCfpExpHours = 3;
    var advadsCfpClickLimit = 3;
    ;
    var advadsCfpPath = '';
    var advadsCfpDomain = 'new-storybook.herokuapp.com';
    var advadsCfpAd = function (adID) {
        if ('undefined' == typeof advadsProCfp) { advadsCfpQueue.push(adID) } else { advadsProCfp.addElement(adID) }
    };</script>
{{!-- <link rel="icon" href="https://www.new-storybook.herokuapp.com/wp-content/uploads/2017/12/cropped-favicon-32x32.png"
    sizes="32x32" />
<link rel="icon" href="https://www.new-storybook.herokuapp.com/wp-content/uploads/2017/12/cropped-favicon-192x192.png" sizes="192x192"
/>
<link rel="apple-touch-icon-precomposed" href="https://www.new-storybook.herokuapp.com/wp-content/uploads/2017/12/cropped-favicon-180x180.png"
/>
<meta name="msapplication-TileImage" content="https://www.new-storybook.herokuapp.com/wp-content/uploads/2017/12/cropped-favicon-270x270.png"
/> meta name="viewport" content="width=device-width, initial-scale=1" /> --}}
<script data-cfasync="false" type="text/javascript">/* <![CDATA[ */ //<![CDATA[
    var gtm4wp_datalayer_name = "dataLayer";
    var dataLayer = dataLayer || [];//]]> /* ]]> */</script>
{{!-- <meta name="description" content="StoryBook is an award winning blog that talks about living a boss free life with blogging. We cover about WordPress, SEO, Make money Blogging, Affiliate marketing."/> --}}

<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{metaTags.title}}"/>
{{!-- <meta property="og:description" content="StoryBook is an award winning blog that talks about living a boss free life with blogging. We cover about WordPress, SEO, Make money Blogging, Affiliate marketing."/> --}}
<meta property="og:image" content="Octicons-book.svg.png">
<meta property="og:url" content="https://www.new-storybook.herokuapp.com/" />
<meta property="og:site_name" content="StoryBook" />
<meta name="twitter:card" content="{{metaTags.title}}" />
{{!-- <meta name="twitter:description" content="StoryBook is an award winning blog that talks about living a boss free life with blogging. We cover about WordPress, SEO, Make money Blogging, Affiliate marketing."/> --}}
<meta name="twitter:title" content="{{metaTags.title}}" />
<meta name="twitter:site" content="{{metaTags.TwitterLink}}" />
<meta name="twitter:creator" content="{{metaTags.myTwitter}}" />
{{!-- <script type='application/ld+json'>{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.new-storybook.herokuapp.com\/","name":"StoryBook","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.new-storybook.herokuapp.com\/?story={search_term_string}","query-input":"required name=search_term_string"}}</script>  --}}
{{!-- GOOGLE SITE VERIFICATION META TAG --}}
{{!-- GOOGLE TAG  VERIFICATION HERE --}}
{{!-- <meta name="google-site-verification" content="WMRj-FanG0c99YGBxsGsm10cWSKyfI-hPprm7aKRcqI" /> --}}
<link rel="amphtml" href="https://www.new-storybook.herokuapp.com/amp" />
<link rel='dns-prefetch' href='//www.new-storybook.herokuapp.com' />
{{!-- <link rel='dns-prefetch' href='//s0.wp.com' /> --}}
{{!-- <link rel='dns-prefetch' href='//clientcdn.pushengage.com' />
<link rel='dns-prefetch' href='//a.optmstr.com' />
<link rel='dns-prefetch' href='//js.stripe.com' /> --}}
{{!-- <link rel='dns-prefetch' href='//s.w.org' /> --}}
    {{!-- SEO AREA END     --}}
</head>

<body>
    <div id="wrapper">
        <!-- your html for your website -->
    </div>
    <div id="warning-message">
    <center>
       <div class="card">
      
            <div class="overlay"></div>
            <div class="overlay-content">Please rotate your device</div>
            <div class="overlay-text">We don't support landscape mode yet. Please go back to portrait mode for the best experience</div>
       </div>
    </center>
    </div>
    {{> _header}}
    {{#if user}}
        
        {{> _add-btn}}
    {{/if}}
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
    {{> _footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    {{!-- <script src="https://cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script> --}}
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    {{!-- <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script> --}}
    {{!-- <script src="js/sticky.js"></script> --}}
        <script>

           document.addEventListener('DOMContentLoaded', function () {
               try {
                   enterView({
                       selector: 'section',
                       enter: function (el) {
                           el.classList.add('entered');
                       }
                   })

                   var frameNumber = 0, // start video at frame 0
                       // lower numbers = faster playback
                       playbackConst = 1000,
                       // get page height from video duration
                       setHeight = document.getElementById("set-height"),
                       // select video element         
                       vid = document.getElementById('v0');
                   // var vid = $('#v0')[0]; // jquery option
                   // dynamically set the page height according to video length
                   vid.addEventListener('loadedmetadata', function () {
                       setHeight.style.height = Math.floor(vid.duration) * playbackConst + "px";
                   });
                   // Use requestAnimationFrame for smooth playback
                   function scrollPlay() {
                       var frameNumber = window.pageYOffset / playbackConst;
                       vid.currentTime = frameNumber;
                       window.requestAnimationFrame(scrollPlay);
                   }
                   window.requestAnimationFrame(scrollPlay);
               }
               catch(err) {
                   console.log(err)
               }
            }); 
        </script>
<script>
    var name = JSON.stringify([{title:'twitter:description', description:'StoryBook a app Share your Day story to the world. alpha version'},
    {title:'og:description',description:'StoryBook is an award winning blog that talks about living a boss free life with blogging. We cover about WordPress, SEO, Make money Blogging, Affiliate marketing.'}]);
   //console.log(name);
  // console.log(name.length);
  myObje = JSON.parse(name);
   for(x in myObje) {
         //console.log(myObje[x].title);
         //console.log(myObje[x].description);
          var m = document.createElement('meta');
          m.name = myObje[x].title;
          m.content = myObje[x].description;
            document.head.appendChild(m);
    }
    
 
</script>

    <script>
       
               $(document).ready(function () {
                    $({ property: 0 }).animate({ property: 100 }, {
                        duration: 4000,
                        step: function () {
                            var _percent = Math.round(this.property);
                            $('#progress').css('width', _percent + "%");
                            if (_percent == 100) {
                                $("#progress").addClass("done");
                            }
                        },
                        complete: function () {
                          //  alert('complete');
                        }
                    });
                });
        $(document).ready(() => {
           try {
              
                $('.button-collapse').sideNav();
               $('select').material_select();
               $('categoryType').material_select();
              
                
              // ClassicEditor.create(document.querySelector('#editor')).then(editor => {
                   //editor.plugins: [Essentials, Markdown, Paragraph,Bold, Italic, Underline, Strikethrough, Code, Alignment, Autoformat, Table, TableToolbar],  
                  // language: 'en',  
                   //    toolbar: ['bold', 'italic', 'alignment', 'insertTable',],
                    //   blockToolbar: ['paragraph', 'heading1', 'heading2', 'heading3','|','bulletedList', 'numberedList','|','blockQuote', 'imageUpload'],
                   //    table: {
                    //   toolbar: ['tableColumn', 'tableRow', 'mergeTableCells']
                     // },
                      // image: {
                     //  toolbar: ['bold', 'italic', 'underline', 'strikethrough', 'code', 'imageTextAlternative' |  'imageStyle:alignLeft', 'imageStyle:full', 'imageStyle:alignRight'],
                     //  styles: ['full','alignLeft', 'alignRight']
                   //}
            //   })
              //     .catch(error => {
                //       console.error(error);
              //     });
                if(window.location.href.indexOf("add") > -1 || window.location.href.indexOf("edit") > -1){
                    CKEDITOR.replace('body');
                }
                
               // tinymce.init({ selector: 'textarea' });
               var elem = document.querySelector('.slider');
               var instance = M.Slider.init(elem, options);

               // Or with jQuery

               $(document).ready(function () {
                   $('.slider').slider();
               });
            
                
           } 
           catch(err)
           {
               console.log(err)
           }
        });
    </script>
    <script>
      
            $(document).ready(() => {
               window.onload = function () {
                     var display = $("#LandingHeader").css("display");
                     var tagnav = $('nav').css("display");
                     var navigator = $('#backNavigator').css("top");
                     var footer = $('.titlename2').css('display');
                     if(window.screen.width < 824 && footer == "none") {
                       $('.titlename2').css({ display: "block" });
                   }else{
                        $('.titlename2').css({ display: "none" });
                   }
                   // headerid.style.display = none;
                   if(window.location.href.indexOf("show") > -1 || window.location.href.indexOf("stories") > -1 || window.location.href.indexOf("about") > -1 || window.location.href.indexOf("security") > -1|| window.location.href.indexOf("about") > -1)
                    {
                           if (display != "none") {
                               $("#LandingHeader").css({ display: "none" });
                               if(window.screen.width<824 && tagnav != "none"){
                                $('nav').css({ display: "none" });
                                $('#backNavigator').css({top:"0px"});
                               
                               }
                               // $("#LandingHeader").css("style", "display:block");
                           }

                    }else{
                         $('nav').css({ display: "block" });
                          $('.titlename2').css({ display: "none" });
                    }
                      
                    
                   // var headerid = $('#LandingHeader');
                   
                   if (window.location.href.indexOf("index") > -1 || !window.location.href.indexOf("add") > 1 || !window.location.href.indexOf("edit") > 1 || !window.location.href.indexOf("show") > 1 || !window.location.href.indexOf("dashboard") > 1 || !window.location.href.indexOf("stories") > 1)
                   {
                       
                       var placeholder = document.querySelector('.placeholder'),
                           small = placeholder.querySelector('.img-small')

                       // 1: load small image and show it
                       var img = new Image();
                       img.src = small.src;
                       img.onload = function () {
                           small.classList.add('loaded');
                       };

                       // 2: load large image
                       var imgLarge = new Image();
                       imgLarge.src = placeholder.dataset.large;
                       imgLarge.alt = "Full Image Load";
                       imgLarge.onload = function () {
                           imgLarge.classList.add('loaded');

                       };
                       placeholder.appendChild(imgLarge);
                   }
                 }
           });

    </script>


<script type='application/ld+json'>
{"@context":"http:\/\/schema.org",
"@type":"WebSite",
"url":window.location.href,
"name":"StoryBook",
"potentialAction":{"@type":"SearchAction",
"target":window.location.href+"\/?story={search_term}",
"query-input":"required name=search_term"}
}</script>

{{!-- <script src="companion.js" data-service-worker="app.js"></script> --}}

<script src="app.js"></script>

<script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3R4GMN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

</body>

</html>