{{#if story}}
<div class="dashMaxres">
    <h4>All Comments of -  {{storyTitle}}</h4>
    <table class="striped">
        <thead>
            <tr class="tablerow">
                <th><i class="fa fa-book" style="font-size:1.3rem"></i> Title</th>
                <th><i class="far fa-calendar-alt" style="font-size:1.3rem"></i> Date</th>
                <th><i class="far fa-comments" style="font-size:1.3rem"></i> Comment Body</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each story}}
            <tr>
                <td><a href="/comments/show/{{_id}}" style="color:#777;">{{commentTitle}}</a></td>
                <td>{{formateDate story.commentDate 'MMMM Do YYYY'}}</td>
                {{!-- <td><span class="dash-status">{{status}}</span></td> --}}
                <td><span style="color:#777;font-weight:700;font-size:1.2rem;">{{commentBody}}</span></td>
                <td>
                    <a href="/stories/comments/{{_id}}" class="btn-floating blue left-align"><i class="fas fa-pencil-alt"
                            style="font-size:15px !important;"></i></a>
                    <form action="/Comments/{{_id}}?_method=DELETE" method="post" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn-floating red"><i class="fa fa-trash" style="font-size:15px !important;"></i></button>
                    </form>

                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}