<h3 style="margin-left:2rem;">Update Your Story</h3>
<div class="row" style="margin-left:2rem;">
    <form action="/stories/{{story.id}}?_method=PUT" method="post" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" value="{{story.title}}">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="bodyImage" value="{{story.bodyImage}}">
                <label for="bodyImage">Header Image Url</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select name="status" style="display:none">
                    {{#select story.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    <option value="unpublished">Unpublished</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select name="categoryType" style="display:none">
                    {{#select story.category}}
                    <option value="general" selected>General</option>
                    <option value="sci-fi">Sci-Fi</option>
                    <option value="travel">Travel</option>
                    <option value="personal">Biography</option>
                    {{/select}}
                </select>
                <label for="status">Category</label>
            </div>
        </div>
        <div class="row">
            <div class="switch">
                <label>
                    Off
                    <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" {{#if story.allowComments}} checked="checked"
                        {{/if}}>
                    <span class="lever"></span>
                    On
                </label>
            </div>
            {{!-- --
            <p>
                <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" {{#if story.allowComments}} checked="checked"
                    {{/if}}>
                <label for="filled-in-box">Allow Comments</label>
            </p> -- --}}
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="description" value="{{story.description}}" placeholder="short description">
                <label for="description" style="color:whitesmoke;">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="keywords" value="{{story.keywords}}" placeholder="keywords seprated by comma">
                <label for="keywords" style="color:whitesmoke;">Keywords</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Story Board</h5>
                <textarea name="body" id="editor">{{story.body}}</textarea>

            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-large btn-circle shake-top">
    </form>
</div>