<div>
    <h3 class="titlename">Stories</h3>
</div>
<div class="row">
    {{#each stories}}
        <div class="col s12 m4">
            <div class="card card1 heartbeat">
                <div class="card-image">
                    {{#if user}}
                        {{{editIcon user.id ../user.id id}}}
                    {{/if}}
                </div>
                <div class="card-content center-align">
                    <h5 class="storytitile">{{title}}</h5>
                    <p class="story-text">{{stripTags (truncate body 150)}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" class="image-responsive"><a href="/stories/user/{{user.id}}" class="name-responsive"> {{user.firstName}} {{user.lastName}} </a>
                    </div>
                    <div class="card-action canter-align">
                       <div class="row">
                            <a class="btn grey" href="/stories/show/{{id}}"><i class="fa fa-bookmark"></i> Read More</a>
                       </div>
                            <div class="row">
                                <div class="col">
                                    <a href="" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">
                                        <i class="material-icons text-grey text-left">
                                            remove_red_eye {{story.viewcount}}
                                        </i>
                                    </a>
                                </div>
                                <div class="col">
                                   
                                         {{#if user}}
                                         {{{ratingIcon user.id ../user.id id}}} {{/if}}
                                         
                                        {{!-- <i class="material-icons text-grey text-left iconColor">
                                             star_border
                                        </i>
                                        <i class="material-icons text-grey text-left iconColor">
                                            star_border
                                        </i>
                                        <i class="material-icons text-grey text-left iconColor">
                                            star_border
                                        </i>
                                        <i class="material-icons text-grey text-left iconColor">
                                            star_border
                                        </i>
                                        <i class="material-icons text-grey text-left iconColor">
                                            star_border
                                        </i> --}}
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <p>No Story Found</p>
    {{/each}}
</div>