{{!-- <div class="row">
    <div class="col s12 m8">
        <h3>{{story.title}}
            <small>{{{editIcon story.user.id user.id story.id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <small class="card-title">{{formateDate story.date 'MMMM Do YYYY'}}</small>
                {{{story.body}}}
            </div>
            <div class="card-action">
                <form method="post" action="/stories/thumbup/{{story.id}}">
                <i class="fa fa-sign-language"></i>
                <small>{{story.likes.likeCount}}</small>
                    <input type="submit" value="Submit" class="btn">     
                </form>
                 {{#each story.likes}}
                
                    <i class="fa fa-thumbs-up"></i> <small>{{story.likes.likeCount}}</small>
               
                {{/each}}
            </div>
        </div>

        {{#if story.allowComments}}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Comments</span>
                {{#if user}}
                <form method="post" action="/stories/comment/{{story.id}}">
                    <div class="input-field">
                        <textarea name="commentBody" class="materialize-textarea"></textarea>
                        <label> Add Comment</label>
                    </div>
                    <input type="submit" value="Submit" class="btn">
                </form>
                {{else}}
                <p>Please
                    <a href="/auth/google">login</a> to leave a comment</p>
                {{/if}}
            </div>
        </div>

        {{#each story.comments}}
        <div class="card">
            <div class="card-content">
                <h5>{{commentBody}}</h5>
                {{#if commentUser.image}}
                <div class="chip" >
                    <img src="{{commentUser.image}}"><a href="/stories/user/{{commentUser.id}}">{{commentUser.firstName}} {{commentUser.lastName}}</a>
                </div>
                {{else}}
                    <div class="chip">
                        <img src="../../public/img/Anonymous.png">
                        <a href="/stories/user/{{commentUser.id}}">Anonymous</a>
                    </div>
                {{/if}}
                <br>
                <small>Posted: {{formateDate commentDate 'MMMM Do YYYY'}}</small>
            </div>
        </div>
        {{/each}} {{/if}}
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{story.user.firstName}} {{story.user.lastName}}</span>
                <img src="{{story.user.image}}" class="circle responsive-img">
            </div>
            <div class="card-action">
                <a href="/stories/user/{{story.user.id}}">More From {{story.user.firstName}}</a>
            </div>
        </div>
    </div>
</div> --}}

<div class="header showpage">
    <h3 class="titlebar" style="color:#777 !important;paddign-top:2rem;">{{story.title}} <small>{{{editIcon story.user.id user.id story.id false}}}</small></h3>
</div>

<div class="row showpage">
    <div class="leftcolumn col s12 m9 pb-5 grey lighten-4" style="border-radius:20px;">
        <div class="card card1 heartbeat">
            {{#if story.bodyImage}}
                <div class="card-image shake-top animated-background">
                    <img src="{{story.bodyImage}}">
                    {{!-- <small class="card-title darken-1">{{formateDate story.date 'MMMM Do YYYY'}}</small> --}}
                </div>
            {{else}}
            {{!-- <div class="card-image animated-background image" data-text="true">
                <div style="height:200px;border-radius:10px 10px 10px 10px;"></div>
                <small class="card-title darken-1">{{formateDate story.date 'MMMM Do YYYY'}}</small>
            </div> --}}
            {{/if}}
            <div class="card-content card-top-space">
                <small class="card-title darken-1"style="font-size:14px;font-color:#333;font:italic;">{{formateDate story.date 'MMMM Do YYYY'}}</small>
                <small  class="right">
                    <span class="right green" style="padding:.4rem;font-size:.9rem;;color:white;"><i class="fas fa-star"></i>
                        {{ratingCalculate story.rating}}</span>
                    {{!-- <form method="post" action="/stories/thumbup/{{story.id}}">
                        <small style="padding:1rem;color:#666;font-weight:700;font-size:.92rem;">{{totalcount story.likes}} </small>
                        <i class="fa fa-sign-language" style="margin-right:-2rem;tab-index:-10;color:#999;font-size:1.3rem;margin-top:10px;font-size:2rem;"></i>
                        <input type="submit" value="" class="waves-effect waves-grey transparent darken-5" style="border:1px green;width:2.6vw;height:2.6vh;padding:1rem;">
                    </form> --}}
                </small>  <hr/>
              <div class="bodybar" style="background-color:transparent !important;border-top:1px solid rgba(0, 0, 0, 0.14) !important;color:inherit !important;padding-top:2rem;padding-bottom:2rem;font-size: 1.3rem;">
                {{{story.body}}}
              </div>
                   
            <div class="postActions js-postActionsFooter u-borderTopLightest u-paddingBottom40">
                <div class="u-flexCenter">
                    <div class="u-flex1">
                        <form method="post" action="/stories/thumbup/{{story.id}}">
                        <div class="multirecommend js-actionMultirecommend u-flexCenter u-width60" data-post-id="4b9602c972e8"
                            data-is-icon-29px="true" data-is-circle="true" data-has-recommend-list="true" data-source="post_actions_footer-----4b9602c972e8---------------------clap_footer">
                            <div class="u-relative u-foreground"><button class="button button--large button--circle button--withChrome u-baseColor--buttonNormal button--withIcon button--withSvgIcon clapButton js-actionMultirecommendButton clapButton--largePill u-relative u-foreground u-xs-paddingLeft13 u-width60 u-height60 u-accentColor--textNormal u-accentColor--buttonNormal clap-onboardingcollection"
                                    data-action="sign-up-prompt" data-sign-in-action="multivote" data-requires-token="true" data-redirect="https://medium.com/_/vote/p/4b9602c972e8"
                                    data-action-source="post_actions_footer-----4b9602c972e8---------------------clap_footer" aria-label="Clap">
                        
                                    <span class="button-defaultState">
                        
                                        <span class="svgIcon svgIcon--clap svgIcon--33px u-relative u-topNegative2 u-xs-top0"><svg class="svgIcon-use"
                                                width="33" height="33" viewBox="0 0 33 33">
                                                <path d="M28.86 17.342l-3.64-6.402c-.292-.433-.712-.729-1.163-.8a1.124 1.124 0 0 0-.889.213c-.63.488-.742 1.181-.33 2.061l1.222 2.587 1.4 2.46c2.234 4.085 1.511 8.007-2.145 11.663-.26.26-.526.49-.797.707 1.42-.084 2.881-.683 4.292-2.094 3.822-3.823 3.565-7.876 2.05-10.395zm-6.252 11.075c3.352-3.35 3.998-6.775 1.978-10.469l-3.378-5.945c-.292-.432-.712-.728-1.163-.8a1.122 1.122 0 0 0-.89.213c-.63.49-.742 1.182-.33 2.061l1.72 3.638a.502.502 0 0 1-.806.568l-8.91-8.91a1.335 1.335 0 0 0-1.887 1.886l5.292 5.292a.5.5 0 0 1-.707.707l-5.292-5.292-1.492-1.492c-.503-.503-1.382-.505-1.887 0a1.337 1.337 0 0 0 0 1.886l1.493 1.492 5.292 5.292a.499.499 0 0 1-.353.854.5.5 0 0 1-.354-.147L5.642 13.96a1.338 1.338 0 0 0-1.887 0 1.338 1.338 0 0 0 0 1.887l2.23 2.228 3.322 3.324a.499.499 0 0 1-.353.853.502.502 0 0 1-.354-.146l-3.323-3.324a1.333 1.333 0 0 0-1.886 0 1.325 1.325 0 0 0-.39.943c0 .356.138.691.39.943l6.396 6.397c3.528 3.53 8.86 5.313 12.821 1.353zM12.73 9.26l5.68 5.68-.49-1.037c-.518-1.107-.426-2.13.224-2.89l-3.303-3.304a1.337 1.337 0 0 0-1.886 0 1.326 1.326 0 0 0-.39.944c0 .217.067.42.165.607zm14.787 19.184c-1.599 1.6-3.417 2.392-5.353 2.392-.349 0-.7-.03-1.058-.082a7.922 7.922 0 0 1-3.667.887c-3.049 0-6.115-1.626-8.359-3.87l-6.396-6.397A2.315 2.315 0 0 1 2 19.724a2.327 2.327 0 0 1 1.923-2.296l-.875-.875a2.339 2.339 0 0 1 0-3.3 2.33 2.33 0 0 1 1.24-.647l-.139-.139c-.91-.91-.91-2.39 0-3.3.884-.884 2.421-.882 3.301 0l.138.14a2.335 2.335 0 0 1 3.948-1.24l.093.092c.091-.423.291-.828.62-1.157a2.336 2.336 0 0 1 3.3 0l3.384 3.386a2.167 2.167 0 0 1 1.271-.173c.534.086 1.03.354 1.441.765.11-.549.415-1.034.911-1.418a2.12 2.12 0 0 1 1.661-.41c.727.117 1.385.565 1.853 1.262l3.652 6.423c1.704 2.832 2.025 7.377-2.205 11.607zM13.217.484l-1.917.882 2.37 2.837-.454-3.719zm8.487.877l-1.928-.86-.44 3.697 2.368-2.837zM16.5 3.293L15.478-.005h2.044L16.5 3.293z"
                                                    fill-rule="evenodd"></path>
                                            </svg></span>
                        
                                    </span>
                                    <span class="button-activeState"><span class="svgIcon svgIcon--clapFilled svgIcon--33px u-relative u-topNegative2 u-xs-top0"><svg
                                                class="svgIcon-use" width="33" height="33" viewBox="0 0 33 33">
                                                <g fill-rule="evenodd">
                                                    <path d="M29.58 17.1l-3.854-6.78c-.365-.543-.876-.899-1.431-.989a1.491 1.491 0 0 0-1.16.281c-.42.327-.65.736-.7 1.207v.001l3.623 6.367c2.46 4.498 1.67 8.802-2.333 12.807-.265.265-.536.505-.81.728 1.973-.222 3.474-1.286 4.45-2.263 4.166-4.165 3.875-8.6 2.215-11.36zm-4.831.82l-3.581-6.3c-.296-.439-.725-.742-1.183-.815a1.105 1.105 0 0 0-.89.213c-.647.502-.755 1.188-.33 2.098l1.825 3.858a.601.601 0 0 1-.197.747.596.596 0 0 1-.77-.067L10.178 8.21c-.508-.506-1.393-.506-1.901 0a1.335 1.335 0 0 0-.393.95c0 .36.139.698.393.95v.001l5.61 5.61a.599.599 0 1 1-.848.847l-5.606-5.606c-.001 0-.002 0-.003-.002L5.848 9.375a1.349 1.349 0 0 0-1.902 0 1.348 1.348 0 0 0 0 1.901l1.582 1.582 5.61 5.61a.6.6 0 0 1-.848.848l-5.61-5.61c-.51-.508-1.393-.508-1.9 0a1.332 1.332 0 0 0-.394.95c0 .36.139.697.393.952l2.363 2.362c.002.001.002.002.002.003l3.52 3.52a.6.6 0 0 1-.848.847l-3.522-3.523h-.001a1.336 1.336 0 0 0-.95-.393 1.345 1.345 0 0 0-.949 2.295l6.779 6.78c3.715 3.713 9.327 5.598 13.49 1.434 3.527-3.528 4.21-7.13 2.086-11.015zM11.817 7.727c.06-.328.213-.64.466-.893.64-.64 1.755-.64 2.396 0l3.232 3.232c-.82.783-1.09 1.833-.764 2.992l-5.33-5.33z"></path>
                                                    <path d="M13.285.48l-1.916.881 2.37 2.837z"></path>
                                                    <path d="M21.719 1.361L19.79.501l-.44 3.697z"></path>
                                                    <path d="M16.502 3.298L15.481 0h2.043z"></path>
                                                </g>
                                            </svg></span></span>
                        
                                </button>
                                <div class="clapUndo u-width60 u-round u-height32 u-absolute u-borderBox u-paddingRight5 u-transition--transform200Spring u-background--brandSageLighter js-clapUndo"
                                    style="top: 14px; padding: 2px;"><button class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon u-floatRight"
                                        data-action="multivote-undo" data-action-value="4b9602c972e8"><span class="svgIcon svgIcon--removeThin svgIcon--29px"><svg
                                                class="svgIcon-use" width="29" height="29" viewBox="0 0 29 29">
                                                <path d="M20.13 8.11l-5.61 5.61-5.609-5.61-.801.801 5.61 5.61-5.61 5.61.801.8 5.61-5.609 5.61 5.61.8-.801-5.609-5.61 5.61-5.61"
                                                    fill-rule="evenodd"></path>
                                            </svg></span></button></div>
                            </div><span class="u-textAlignCenter u-relative u-background js-actionMultirecommendCount u-marginLeft10"><button
                                    class="button button--chromeless u-baseColor--buttonNormal js-multirecommendCountButton" data-action="show-recommends"
                                    data-action-value="4b9602c972e8">{{totalcount story.likes}}</button></span>
                        </div>
                            <input type="submit" value="" class="waves-effect waves-grey transparent" style="padding-bottom:2rem;width:2rem;height:2rem;z-index:384793;">
                        </form>
                        
                    </div>
                    <div class="buttonSet u-flex0"><button class="button button--large button--dark button--chromeless is-touchIconBlackPulse u-baseColor--buttonDark button--withIcon button--withSvgIcon"
                            data-action="scroll-to-responses" data-action-source="post_actions_footer"><span class="svgIcon svgIcon--response svgIcon--29px"><svg
                                    class="svgIcon-use" width="29" height="29" viewBox="0 0 29 29">
                                    <path d="M21.27 20.058c1.89-1.826 2.754-4.17 2.754-6.674C24.024 8.21 19.67 4 14.1 4 8.53 4 4 8.21 4 13.384c0 5.175 4.53 9.385 10.1 9.385 1.007 0 2-.14 2.95-.41.285.25.592.49.918.7 1.306.87 2.716 1.31 4.19 1.31.276-.01.494-.14.6-.36a.625.625 0 0 0-.052-.65c-.61-.84-1.042-1.71-1.282-2.58a5.417 5.417 0 0 1-.154-.75zm-3.85 1.324l-.083-.28-.388.12a9.72 9.72 0 0 1-2.85.424c-4.96 0-8.99-3.706-8.99-8.262 0-4.556 4.03-8.263 8.99-8.263 4.95 0 8.77 3.71 8.77 8.27 0 2.25-.75 4.35-2.5 5.92l-.24.21v.32c0 .07 0 .19.02.37.03.29.1.6.19.92.19.7.49 1.4.89 2.08-.93-.14-1.83-.49-2.67-1.06-.34-.22-.88-.48-1.16-.74z"></path>
                                </svg></span></button><button class="button button--chromeless u-baseColor--buttonNormal"
                            data-action="scroll-to-responses">
                            {{totalcount story.comments}}</button>
                            {{{twitterShare url story.title}}}
                                {{{facebookShare url story.title}}}
                                {{{googleplusShare url story.title}}}
                                {{{pinterestShare url story.title}}}
                                {{{linkedinShare url story.title metaTags.description}}}
                               {{!-- <button class="button button--large button--dark button--chromeless u-baseColor--buttonDark button--withIcon button--withSvgIcon u-xs-show"
                            title="Share this story on Twitter or Facebook" aria-label="Share this story on Twitter or Facebook"
                            data-action="show-share-popover" data-action-source="post_actions_footer">
                            <span class="svgIcon svgIcon--share svgIcon--29px"><svg
                                    class="svgIcon-use" width="29" height="29" viewBox="0 0 29 29">
                                    <path d="M20.385 8H19a.5.5 0 1 0 .011 1h1.39c.43 0 .84.168 1.14.473.31.305.48.71.48 1.142v10.77c0 .43-.17.837-.47 1.142-.3.305-.71.473-1.14.473H8.62c-.43 0-.84-.168-1.144-.473a1.603 1.603 0 0 1-.473-1.142v-10.77c0-.43.17-.837.48-1.142A1.599 1.599 0 0 1 8.62 9H10a.502.502 0 0 0 0-1H8.615c-.67 0-1.338.255-1.85.766-.51.51-.765 1.18-.765 1.85v10.77c0 .668.255 1.337.766 1.848.51.51 1.18.766 1.85.766h11.77c.668 0 1.337-.255 1.848-.766.51-.51.766-1.18.766-1.85v-10.77c0-.668-.255-1.337-.766-1.848A2.61 2.61 0 0 0 20.384 8zm-8.67-2.508L14 3.207v8.362c0 .27.224.5.5.5s.5-.23.5-.5V3.2l2.285 2.285a.49.49 0 0 0 .704-.001.511.511 0 0 0 0-.708l-3.14-3.14a.504.504 0 0 0-.71 0L11 4.776a.501.501 0 0 0 .71.706"
                                        fill-rule="evenodd"></path>
                                </svg></span></button>--}}
                                </div> 
                </div>
            </div>
            
            </div>   
        </div>
 {{!-- {{#if story.allowComments}}
<div class="card">
    <div class="sharethis-inline-reaction-buttons"></div>
    <div class="card-content">
        <span class="card-title">Comments</span>
        {{#if user}}
        <form method="post" action="/stories/comment/{{story.id}}">
        <div class="input-field">
            <input name="commentTitle" class="text" placeholder="Title" style="color:#555 !important;font-size:1rem;"></input>
            <label> </label>
        </div>
            <div class="input-field">
                <textarea name="commentBody" class="materialize-textarea" placeholder="Comment Text" style="color:#555 !important;font-size:1rem;"></textarea>
                <label> </label>
            </div>
            <input type="submit" value="Submit" class="btn btn-circle">
        </form>
        {{else}}
        <p>Login with  
                <a href="/auth/google" style="color:#555;padding-top:5px;letter-spacing: 1.5px;">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="fill:#000000;">
                    <g id="surface1">
                        <path style=" fill:#FFC107;" d="M 43.609375 20.082031 L 42 20.082031 L 42 20 L 24 20 L 24 28 L 35.304688 28 C 33.652344 32.65625 29.222656 36 24 36 C 17.371094 36 12 30.628906 12 24 C 12 17.371094 17.371094 12 24 12 C 27.058594 12 29.84375 13.152344 31.960938 15.039063 L 37.617188 9.382813 C 34.046875 6.054688 29.269531 4 24 4 C 12.953125 4 4 12.953125 4 24 C 4 35.046875 12.953125 44 24 44 C 35.046875 44 44 35.046875 44 24 C 44 22.660156 43.863281 21.351563 43.609375 20.082031 Z "></path>
                        <path style=" fill:#FF3D00;" d="M 6.304688 14.691406 L 12.878906 19.511719 C 14.65625 15.109375 18.960938 12 24 12 C 27.058594 12 29.84375 13.152344 31.960938 15.039063 L 37.617188 9.382813 C 34.046875 6.054688 29.269531 4 24 4 C 16.316406 4 9.65625 8.335938 6.304688 14.691406 Z "></path>
                        <path style=" fill:#4CAF50;" d="M 24 44 C 29.164063 44 33.859375 42.023438 37.410156 38.808594 L 31.21875 33.570313 C 29.210938 35.089844 26.714844 36 24 36 C 18.796875 36 14.382813 32.683594 12.71875 28.054688 L 6.195313 33.078125 C 9.503906 39.554688 16.226563 44 24 44 Z "></path>
                        <path style=" fill:#1976D2;" d="M 43.609375 20.082031 L 42 20.082031 L 42 20 L 24 20 L 24 28 L 35.304688 28 C 34.511719 30.238281 33.070313 32.164063 31.214844 33.570313 C 31.21875 33.570313 31.21875 33.570313 31.21875 33.570313 L 37.410156 38.808594 C 36.972656 39.203125 44 34 44 24 C 44 22.660156 43.863281 21.351563 43.609375 20.082031 Z "></path>
                    </g>
                </svg>
                </a> 
                <a href="/auth/facebook"  style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="fill:#000000;">
                        <g id="surface1">
                            <path style=" fill:#3F51B5;" d="M 42 37 C 42 39.761719 39.761719 42 37 42 L 11 42 C 8.238281 42 6 39.761719 6 37 L 6 11 C 6 8.238281 8.238281 6 11 6 L 37 6 C 39.761719 6 42 8.238281 42 11 Z "></path>
                            <path style=" fill:#FFFFFF;" d="M 34.367188 25 L 31 25 L 31 38 L 26 38 L 26 25 L 23 25 L 23 21 L 26 21 L 26 18.589844 C 26.003906 15.082031 27.460938 13 31.59375 13 L 35 13 L 35 17 L 32.714844 17 C 31.105469 17 31 17.601563 31 18.722656 L 31 21 L 35 21 Z "></path>
                        </g>
                    </svg>
                </a>
                <a href="/auth/twitter"  style="color:#666;margin-top:8px;letter-spacing: 1.5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="fill:#000000;">
                        <g id="surface1">
                            <path style=" fill:#03A9F4;" d="M 42 12.429688 C 40.675781 13.015625 39.253906 13.40625 37.753906 13.589844 C 39.277344 12.683594 40.453125 11.238281 41.003906 9.53125 C 39.574219 10.371094 37.992188 10.984375 36.3125 11.308594 C 34.96875 9.882813 33.050781 9 30.925781 9 C 26.847656 9 23.539063 12.277344 23.539063 16.320313 C 23.539063 16.890625 23.605469 17.449219 23.730469 17.988281 C 17.59375 17.683594 12.148438 14.765625 8.507813 10.335938 C 7.867188 11.417969 7.507813 12.683594 7.507813 14.023438 C 7.507813 16.5625 8.808594 18.800781 10.792969 20.117188 C 9.582031 20.082031 8.441406 19.742188 7.445313 19.203125 C 7.445313 19.226563 7.445313 19.257813 7.445313 19.289063 C 7.445313 22.839844 9.992188 25.796875 13.367188 26.472656 C 12.75 26.640625 12.097656 26.734375 11.425781 26.734375 C 10.949219 26.734375 10.484375 26.679688 10.035156 26.597656 C 10.972656 29.5 13.699219 31.621094 16.933594 31.683594 C 14.402344 33.644531 11.21875 34.820313 7.757813 34.820313 C 7.160156 34.820313 6.574219 34.785156 5.996094 34.714844 C 9.269531 36.785156 13.152344 38 17.320313 38 C 30.90625 38 38.339844 26.84375 38.339844 17.164063 C 38.339844 16.847656 38.328125 16.53125 38.3125 16.222656 C 39.761719 15.195313 41.011719 13.90625 42 12.429688 "></path>
                        </g>
                    </svg>
                </a>
                <a href="/auth/pinterest" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;;fill:#000000;">
                        <circle style="fill:#D32F2F;" cx="24" cy="24" r="20"></circle>
                        <path style="fill:#FFFFFF;" d="M19.562,27c0-3.329-0.562-4.482-0.562-5.788C19,18.243,21.131,18,22.032,18	C23.316,18,25,18.871,25,20.5c0,2.371-2,2.671-2,2.671S23,24,23,25.46C23,27,23.372,29,26.123,29C30.537,29,31,22.848,31,21.163	C31,18.834,29.51,14,24.213,14C17.148,14,16,20.313,16,22c0,0.722,0.132,2.122,0.269,2.667c2.106,0.52,1.615,2.375,1.044,2.895	C16.484,28.328,13,28.477,13,21.325C13,14.513,19.072,11,24.402,11C29.474,11,35,14.502,35,21.246	c0,6.018-4.327,10.757-8.872,10.757c-2.728,0-4.175-2.248-4.175-2.248C21.953,34,18.495,40.083,18,41C18,41,19.562,33.146,19.562,27	z"></path>
                    </svg>
                </a>
                </p>
        {{/if}}
        
    </div>
</div>

 {{#each story.comments}}
    <div class="card card1">
    {{{moderateComments story.user.id user.id story.id story.comments.id false}}}
        
      
        <div class="card-content">
           
            {{#if commentUser.image}}
            <div class="chip u-borderBottomLightest right">
                <img src="{{commentUser.image}}">
                <a href="/stories/user/{{commentUser.id}}">{{commentUser.firstName}} {{commentUser.lastName}}</a>
            </div>
            {{else}}
            <div class="chip u-borderBottomLightest right">
                <img src="../../public/img/Anonymous.png">
                <a href="/stories/user/{{commentUser.id}}">Anonymous</a>
            </div>
            {{/if}}
            <h5 style="color: #555;">{{commentTitle}}</h5>
            <p class="u-borderTopLightest" style="color: #555;">{{commentBody}}</p>
            <br>
            <small class="u-borderBottomLightest">Posted: {{formateDate commentDate 'MMMM Do YYYY'}}</small>
        </div>
    </div>
    {{/each}} {{/if}} --}}
    <div id="disqus_thread"></div>
<script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url
     = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://storybook-3.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
    <div class="rightcolumn" style="position: -webkit-sticky;position: sticky;">
        <div class="card card1" style="box-shadow:-5px  5px 5px 5px #82a2bd">
            <div class="card-content center-align">
                <span class="card-title" style="font-size:1rem;">{{story.user.firstName}} {{story.user.lastName}}</span>
                {{#if story.user.image}}
                    <img src="{{story.user.image}}" class="circle responsive-img">
                {{else}}
            <img src="/img/Anonymous.png" class="circle responsive-img">
            {{/if}}
            </div>
            <div class="card-action">
                <a href="/stories/user/{{story.user.id}}" style="font-size:0.7rem;font-weight:600;">More From {{story.user.firstName}}</a>
            </div>
        </div>
        
            {{!-- <div class="card">
                <h5 style="color: #555;">Popular Post</h5>
            <div class="animated-background">
                <div class="background-masker paragraph2-bottom"></div>
                <div class="background-masker paragraph3-bottom"></div>
                <div class="background-masker paragraph4-bottom"></div>
                <div class="background-masker paragraph5-bottom"></div>
                <div class="background-masker paragraph6-bottom"></div>
            </div>
            </div> --}}
            
            <div class="card">
                <h5 style="#333 !important">Follow Me</h5>
                <div class="animated-background">
                <div class="background-masker paragraph2-bottom"></div>
                <div class="background-masker paragraph3-bottom"></div>
                <div class="background-masker paragraph4-bottom"></div>
                </div>
                 {{!-- {{> _right-side-nav}} --}}
            </div>
        </div>
</div>